
    <div class="main" id="main">
      <div class="row">
        <div class="column"style="background-color:rgb(6, 14, 30);">
          
          <h1><%=challenge.name%></1>
          <p><%=challenge.description%></p> 
          
        
        </div>
        <div class="column" style="background-color: brown;"> 
          <h1>Lets hack</h1>

          <iframe src="www.google.com" frameborder="1000"></iframe>
          
        </div>
      </div>
        
      <button class="viewAnswer"onclick="alert('After viewing the answer, the points you will earn from the question will decrease. ')">View Answer</button>
      </div>
      
     
      
  